nav img,footer img{
    width:50px;
    height: 50px;
}
nav li{
    font-family: myriad-pro;
}
h1{
    word-spacing: 90000px;
    font-family: mr-eaves-modern;
}
p{
    font-family: myriad-pro;
}
footer img,footer p{
    display: inline-block;
}
section img{
    height: 100px;
    width: 100px;
}
section{
    border: 1px solid red;
}
nav{
    border: 1px solid blue;
}
#h1Con{
    border:3px solid green;
    width: 35%;
}
#reason{
    margin-top: 3rem;
    width:65%;
}
.iconCol{
    border: 1px solid blue;
    text-align: center;
    padding: 1rem;
}
footer{
    border: 1px solid red;
}
article{
    border: 1px solid red;
}
ul{
    margin-top: 2rem;
}
ul article{
    display: inline-block;
}

.carWrapper{
    height: 200px;
}
#whyUS{
    float:right;
    width:35%;
    margin-right:5em;
  }
  #services{
    clear:right;
   margin-left:5rem;
  }
  nav {
      background-color: #025E7B;
  }
nav a {
    color:white;
}
#keyvalueicons{
    background-color: #55B1AA;
}
#linkarticles li{
    height: 75px;
  
}
#linkarticles ul{
    margin-left: 19%;
}
#wrapper{
    width:95%;
    margin: 0 auto;
    border:1px solid red;
}
#bottomnav a{
    border: 1px solid blue;
    margin-left: 25%;
}
#bottomnav a:last-of-type{
    margin-left:30%;
}
footer{
    background-color: #025E7B;
}
footer img{
   margin-left: 33.5%;
}
footer p:first-of-type{
    margin-left: 2rem;
}
footer p:last-of-type{
   margin-left: 40%;
}